body {
  font-family: sans-serif;
  background-color: #b7b7a4;
}

main {
  margin: auto;
  width: 80%;
}

.view-type {
  padding-top: 2rem;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

#wrapper div {
  aspect-ratio: 5 / 4;
  display: inline-block;
  color: white;
  text-align: center;
}
